<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav class ="navbar">
        <ul class="menu">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/list">Lista samochodów</a></li>
            <li><a href="/stats">Statystyki</a></li>
            <li><a href="/charts">Wykresy</a></li>
            <li><a href="/map">Mapa</a></li>
        </ul>
    </nav>
    <div class="index">

    </div>
    <div class="main">
        <h1>Analiza rynku pojazdów używanych w Polsce</h1>
        <p>Witamy w aplikacji dedykowanej analizie rynku samochodów używanych w Polsce! Nasza platforma oferuje:</p>
        <ul>
            <li>Szczegółową analizę danych o dostępnych pojazdach.</li>
            <li>Statystyki i wykresy, które pomogą Ci lepiej zrozumieć trendy na rynku.</li>
            <li>Interaktywną mapę, która pokazuje lokalizacje pojazdów.</li>
        </ul>
        <p>Dzięki naszej aplikacji możesz szybko i łatwo wyszukać samochód idealnie dopasowany do Twoich potrzeb oraz zapoznać się z aktualnym stanem rynku. Sprawdź nasze sekcje: Statystyki, Wykresy, i Mapa!</p>

        <a href="https://www.otomoto.pl/"> <img src="https://cdn.uc.assets.prezly.com/eb64b25c-673a-4d71-9747-6cce955378f0/" alt="otomoto"></a>
    </div>

</body>
</html>